html {
    background: #fff;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    width: 100%;
    background-color: #fff;
}

// Total Blue Palette

@dark_blue: #120B8F;
@light_blue: #8BCFF1;
@lightest_blue: #B1DFE6;
@blue: #5087F7;
@grey: #BDC7D7;
@orange: #f2574a;
@dark_orange: #c44236;




@font-face {
    font-family: 'Jolley';
    src: url('Vue/fonts/jolley/jolley.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;1,400&display=swap');
@title_font: 'Jolley', sans-serif;
@body_font: 'Montserrat', sans-serif;
@subtitle_font: 'Rubik', sans-serif;

.loading_animation{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color:white;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
    overflow: hidden;
    opacity: 1;
    // animation: fadeOut 0.2s both;
    img{
        width: 100px;
        height: 100px;
    }
    p{
        font-family: @body_font;
        font-size: 20px;
        color: @dark_blue;
        margin-top: 20px;
    }
}

.loading{
    height: 20px;
    width: 20px;
}

#emergencyButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: @orange;
    z-index: 9999;
    padding: 0;
    outline: none;
    cursor: pointer;
    border: none;

    i {
        color: white;
        font-size: 30px;
        border: white 2px solid;
        width: 0px;
        height: 0px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto auto;
        background-color: white;
        transition: 0.2s;
    }

    &:hover {
        i {
            color: @orange;
            background-color: white;
            width: 60px;
            height: 60px;
            transition: 0.2s;
        }
    }
}


#emergencyModal {
    .modal-wrapper {
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        border-radius: 0;
        flex-direction: column;
        box-shadow: none;
        width: auto;
        height: auto;
        overflow-y: visible;

        .top {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .title {
                color: @dark_blue;
                font-size: 50px;
                text-transform: uppercase;
                font-family: @body_font;
                text-align: center;
                align-self: center;
                margin:0;
            }

            h3 {
                color: @dark_blue;
                font-size: 15px;
                text-transform: uppercase;
                font-family: @body_font;
                text-align: center;
                align-self: center;
                margin:0;
            }
        }

        #txt_descr {
            margin-top: 50px;

            #callButton {
                background-color: @orange;
                border: white 2px solid;
                outline: none;
                padding: 50px;
                border-radius: 50%;
                color: white;
                font-family: @body_font;
                font-size: 100px;
                text-transform: uppercase;
                cursor: pointer;
                margin-top: 20px;
                transition: 0.2s;
                animation: Blink 1s both infinite;

                &:hover {
                    background-color: white;
                    color: @orange;
                }
            }
        }

    }

    background-color: #f2584a;
}

@keyframes Blink {
    0% {
        background-color: white;
        color: @orange;
    }

    50% {
        background-color: @orange;
        color: white;
    }

    100% {
        background-color: white;
        color: @orange;
    }
}



.menu_button_container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: transparent;
    position: absolute;
    margin-left: 35px;
    margin-top: 5px;

    .toggle {
        z-index: 100000;
    }
}

// Animation SlideLeft from left to right
@keyframes SlideLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

// Animation SlideRight from right to left
@keyframes SlideRight {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

#menuModal {
    &[aria-hidden="true"] .modal-wrapper {
        animation: SlideRight 0.4s bot
        h;
    }

    &[aria-hidden="true"] {
        animation: fadeOut 0.4s both;
    }

    .modal-wrapper {
        background-color: white;
        width: 100%;
        height: 100%;
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        border-radius: 10px;
        animation: SlideLeft 0.4s both;

    }
    .logout_button{
        bottom: 0px;
        margin: 0 auto;
        margin-bottom: 60px;
        width:100%;
        height: auto;
        a{
            color: @grey;
            font-size: 20px;
            font-family: @body_font;
            margin-bottom: 20px;
            text-decoration: none;
            text-transform: uppercase;
            padding: 10px 0;
            border-radius: 25px;
            transition: 0.2s;
            &:hover{
                color:@orange
            }
            
            &:hover:before{
                content: "> ";
            }
        }
    }
    .menu_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        width: 100%;
        margin: auto 0;

        a {
            color: rgb(129, 129, 129);
            font-size: 20px;
            font-family: @body_font;
            margin-bottom: 20px;
            text-decoration: none;
            text-transform: uppercase;
        }

        .active {
            font-weight: bold;
            color: @orange;
        }

        a:hover {
            color: @orange;
        }

        a:hover:before {
            content: "> ";
        }


    }
}


.toggle {
    position: fixed;
    top:0;
    left: 0;
    // margin-top:35px;
    // margin-left: calc(10% - 35px);
    width: 70px;
    height: 70px;
    background: transparent;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0, 08);
    border-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.toggle span {
    position: absolute;
    width: 40px;
    height: 4px;
    background: @orange;
    border-radius: 4px;
    transition: 0.5s;
}

.toggle span:nth-child(1) {
    transform: translateY(-15px);
    width: 25px;
    left: 15px;
}

.toggle.active span:nth-child(1) {
    width: 40px;
    transform: translateY(0px) rotate(45deg);
}

.toggle span:nth-child(2) {
    transform: translateY(15px);
    width: 15px;
    left: 15px;
}

.toggle.active span:nth-child(2) {
    transform: translateX(60px);
}

.toggle.active span:nth-child(3) {
    transform: rotate(-45deg);
}
