html {
  background: #fff;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
@font-face {
  font-family: 'Jolley';
  src: url('Vue/fonts/jolley/jolley.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq6R9aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu170w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM70w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v26/iJWbBXyIfDnIV7nEt3KSJbVDV49rz8tdE0Uw.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v26/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-B4i1UA.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v26/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-NYi1UA.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v26/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-2Y-1UA.ttf) format('truetype');
}
body {
  background-image: url('../img/back_home.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
nav {
  height: 100px;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: right;
  align-items: center;
  flex-direction: row;
  z-index: 1000;
}
nav ul.connect_wrapper {
  display: flex;
  justify-content: right;
  align-items: center;
  flex-direction: row;
}
nav ul.connect_wrapper li {
  list-style: none;
  margin: 20px 20px;
}
nav ul.connect_wrapper li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 50px;
  margin-top: 50px;
}
nav ul.connect_wrapper li a:hover {
  background-color: white;
  color: #120B8F;
}
main {
  width: 100%;
}
main section.top_container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
main section.top_container .whale {
  width: 45%;
}
main section.top_container .fish {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 25%;
  margin-top: -80%;
  width: 20%;
  height: auto;
}
main section.top_container .meduse {
  position: absolute;
  bottom: 0;
  margin-bottom: 3%;
  right: 0;
  margin-right: 20%;
  width: 20%;
}
main section.top_container div.main_title {
  margin-left: 5%;
  width: 40%;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}
main section.top_container div.main_title .text_top {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #120B8F;
  text-align: left;
  margin-bottom: 20px;
  line-height: 1;
  margin-left: 20%;
  margin-top: -5%;
  position: absolute;
}
main section.top_container div.main_title .text_top::before {
  content: "●";
  color: #5087F7;
  margin-right: 10px;
}
main section.top_container div.main_title h1 {
  font-size: 80px;
  font-family: 'Jolley', sans-serif;
  color: #120B8F;
  text-align: left;
  margin-bottom: 20px;
  line-height: 1;
  letter-spacing: 5px;
}
main section.top_container div.main_title h4 {
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  color: #120B8F;
  text-align: left;
  margin-bottom: 50px;
  line-height: 1;
}
main section.top_container div.main_title a {
  text-decoration: none;
  color: #5087F7;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid #5087F7;
  padding: 10px 20px;
  border-radius: 5px;
}
main section.top_container div.main_title a:hover {
  background-color: #5087F7;
  color: white;
}
main section.logo_bar {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 50px 0%;
  background-color: white;
}
main section.logo_bar .left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main section.logo_bar .left .top {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 20px;
}
main section.logo_bar .left .top .logo_container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #120B8F;
  font-size: 22px;
}
main section.logo_bar .left .bottom {
  padding: 20px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
main section.logo_bar .left .bottom .logo_container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #120B8F;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
}
main section.logo_bar .right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0%;
  background-color: white;
  color: #120B8F;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
main div.video {
  width: 100vw;
  height: 50vh;
}
main div.video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
main .cards_wrapper {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 50px 0%;
}
main .cards_wrapper h1 {
  font-size: 60px;
  font-family: 'Jolley', sans-serif;
  color: #120B8F;
  text-align: center;
  margin-bottom: 20px;
  line-height: 1;
  letter-spacing: 5px;
}
main .cards_wrapper .separator {
  width: 20%;
  height: 2px;
  background-color: #120B8F;
  margin-bottom: 50px;
}
main .cards_wrapper .cards_container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
main .cards_wrapper .cards_container .card {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
main .cards_wrapper .cards_container .card .card_img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .cards_wrapper .cards_container .card .card_img img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
}
main .cards_wrapper .cards_container .card .card_text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .cards_wrapper .cards_container .card .card_text h3 {
  font-size: 30px;
  font-family: 'Jolley', sans-serif;
  color: #120B8F;
  text-align: center;
  margin-bottom: 20px;
  line-height: 1;
  letter-spacing: 5px;
}
main .cards_wrapper .cards_container .card .card_text p {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #120B8F;
  text-align: center;
  margin-bottom: 20px;
  line-height: 1;
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #120B8F;
  color: white;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
footer .left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0%;
  color: white;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
footer .left .social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 80%;
}
footer .left .social a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 5px;
}
footer .left .social a:hover {
  background-color: white;
  color: #5087F7;
}
footer .right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0%;
  color: white;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
footer .right .links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 80%;
}
footer .right .links a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
}
footer .right .links a:hover {
  color: #5087F7;
}
footer .right .contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 80%;
}
footer .right .contact .phone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
footer .right .contact .phone p {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  margin: 0;
  margin-left: 10px;
}
footer .right .contact .phone p:hover {
  color: #5087F7;
}
footer .right .contact .mail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
footer .right .contact .mail p {
  margin: 0;
}
footer .right .contact .mail a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  margin: 0;
  margin-left: 10px;
}
footer .right .contact .mail a:hover {
  color: #5087F7;
}
.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  bottom: 6%;
  margin-bottom: -35px;
  box-shadow: inset 0 0 0 1px #000000;
  border-radius: 25px;
}
.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #000000;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}
