html {
  background: #fff;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
@font-face {
  font-family: 'Jolley';
  src: url('Vue/fonts/jolley/jolley.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq6R9aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu170w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM70w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v26/iJWbBXyIfDnIV7nEt3KSJbVDV49rz8tdE0Uw.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v26/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-B4i1UA.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v26/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-NYi1UA.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v26/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-2Y-1UA.ttf) format('truetype');
}
#emergencyButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #f2574a;
  z-index: 9999;
  padding: 0;
  outline: none;
  cursor: pointer;
  border: none;
}
#emergencyButton i {
  color: white;
  font-size: 30px;
  border: white 2px solid;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto;
  background-color: white;
  transition: 0.2s;
}
#emergencyButton:hover i {
  color: #f2574a;
  background-color: white;
  width: 60px;
  height: 60px;
  transition: 0.2s;
}
#emergencyModal {
  background-color: #f2584aec;
}
#emergencyModal .modal-wrapper {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  border-radius: 0;
  flex-direction: column;
  box-shadow: none;
  width: auto;
  height: auto;
  overflow-y: visible;
}
#emergencyModal .modal-wrapper .top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#emergencyModal .modal-wrapper .top .title {
  color: #120B8F;
  font-size: 50px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  line-height: 0;
}
#emergencyModal .modal-wrapper .top h3 {
  color: #120B8F;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  line-height: 0;
}
#emergencyModal .modal-wrapper #txt_descr {
  margin-top: 50px;
}
#emergencyModal .modal-wrapper #txt_descr #callButton {
  background-color: #f2574a;
  border: white 2px solid;
  outline: none;
  padding: 50px;
  border-radius: 50%;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 100px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.2s;
  animation: Blink 1s both infinite;
}
#emergencyModal .modal-wrapper #txt_descr #callButton:hover {
  background-color: white;
  color: #f2574a;
}
@keyframes Blink {
  0% {
    background-color: white;
    color: #f2574a;
  }
  50% {
    background-color: #f2574a;
    color: white;
  }
  100% {
    background-color: white;
    color: #f2574a;
  }
}
.menu_button_container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  background-color: transparent;
  position: absolute;
  margin-left: 35px;
  margin-top: 5px;
}
.menu_button_container .toggle {
  z-index: 100000;
}
@keyframes SlideLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes SlideRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
#menuModal[aria-hidden="true"] .modal-wrapper {
  animation: SlideRight 0.4s both;
}
#menuModal[aria-hidden="true"] {
  animation: fadeOut 0.4s both;
}
#menuModal .modal-wrapper {
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  border-radius: 10px;
  animation: SlideLeft 0.4s both;
}
#menuModal .menu_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 100%;
  margin: auto 0;
}
#menuModal .menu_content a {
  color: #818181;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
  text-decoration: none;
  text-transform: uppercase;
}
#menuModal .menu_content .active {
  font-weight: bold;
  color: #f2574a;
}
#menuModal .menu_content a:hover {
  color: #f2574a;
}
#menuModal .menu_content a:hover:before {
  content: "> ";
}
.toggle {
  position: fixed;
  width: 70px;
  height: 70px;
  background: transparent;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0);
  border-radius: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}
.toggle span {
  position: absolute;
  width: 40px;
  height: 4px;
  background: #f2574a;
  border-radius: 4px;
  transition: 0.5s;
}
.toggle span:nth-child(1) {
  transform: translateY(-15px);
  width: 25px;
  left: 15px;
}
.toggle.active span:nth-child(1) {
  width: 40px;
  transform: translateY(0px) rotate(45deg);
}
.toggle span:nth-child(2) {
  transform: translateY(15px);
  width: 15px;
  left: 15px;
}
.toggle.active span:nth-child(2) {
  transform: translateX(60px);
}
.toggle.active span:nth-child(3) {
  transform: rotate(-45deg);
}
.toggle {
  position: absolute;
  width: 70px;
  height: 70px;
  background: transparent;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0);
  border-radius: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}
.toggle span {
  position: absolute;
  width: 40px;
  height: 4px;
  background: #f2574a;
  border-radius: 4px;
  transition: 0.5s;
}
.toggle span:nth-child(1) {
  transform: translateY(-15px);
  width: 25px;
  left: 15px;
}
.toggle.active span:nth-child(1) {
  width: 40px;
  transform: translateY(0px) rotate(45deg);
}
.toggle span:nth-child(2) {
  transform: translateY(15px);
  width: 15px;
  left: 15px;
}
.toggle.active span:nth-child(2) {
  transform: translateX(60px);
}
.toggle.active span:nth-child(3) {
  transform: rotate(-45deg);
}
.menu_button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-left: 50px;
  font-family: 'Montserrat', sans-serif;
  width: auto;
  height: auto;
}
.title_container {
  display: flex;
  align-items: center;
  background-color: #BDC7D7;
  flex-direction: row;
  padding: 20px;
  justify-content: space-evenly;
}
.title_container h1 {
  color: #120B8F;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-transform: uppercase;
}
@keyframes topSlideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes topSlideOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slideIn {
  from {
    transform: translateY(100vw);
  }
  to {
    transform: translateY(0vw);
  }
}
@keyframes slideOut {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(100vw);
  }
}
.top_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: auto;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-top: 20px;
}
.top_bar .search_bar_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  height: auto;
  margin-right: 20px;
}
.top_bar .search_bar_container input {
  width: 200px;
  height: 30px;
  border-radius: 0px;
  border: none;
  border: 1px solid #f2574a;
  padding: 0 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  outline: none;
  transition: all 0.2s;
  border-radius: 15px;
}
.top_bar .search_bar_container input:focus {
  border: 1px solid #f2574a;
}
.top_bar .search_bar_container i {
  color: #f2574a;
  font-size: 18px;
  margin-left: 10px;
}
.top_bar .create_button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: auto;
  height: auto;
  color: white;
  font-size: 15px;
  text-align: center;
  border: none;
  background-color: #f2574a;
  padding: 0px 20px;
  border-radius: 30px;
}
.top_bar .create_button i {
  margin-right: 10px;
}
.top_bar .create_button p {
  margin: 0;
  padding: 10px 0;
}
.top_bar .create_button:hover {
  cursor: pointer;
}
.list_container {
  width: 80%;
  height: auto;
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
}
.list_container .list_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24%;
  height: auto;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  transition: all 0.2s;
}
.list_container .list_item h1 {
  font-size: 20px;
  color: #f2574a;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 0;
  padding: 10px 0;
}
.list_container .list_item h2 {
  font-size: 15px;
  color: #120B8F;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0px 0;
}
.list_container .list_item .coordinate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin: 0;
  padding: 10px 0;
}
.list_container .list_item .coordinate i {
  color: #f2574a;
  font-size: 15px;
  margin-right: 10px;
}
.list_container .list_item .coordinate p {
  font-size: 15px;
  color: #120B8F;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}
.list_container .list_item .map {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: 0;
  padding: 0;
  background-color: #BDC7D7;
}
.list_container .list_item .phone,
.list_container .list_item .web {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin: 0;
  font-size: 15px;
  color: #120B8F;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-decoration: none;
}
.list_container .list_item .phone i,
.list_container .list_item .web i {
  margin-right: 10px;
}
.list_container .list_item .phone:hover,
.list_container .list_item .web:hover {
  cursor: pointer;
  color: #f2574a;
}
.list_container .list_item .web {
  margin-bottom: 10px;
}
.list_container .list_item .phone {
  margin-top: 10px;
}
.list_container .list_item .button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border-top: 1px solid #BDC7D7;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #BDC7D7;
  transition: all 0.2s;
}
.list_container .list_item .button_container button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: #120B8F;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  transition: all 0.2s;
}
.list_container .list_item .button_container button:hover {
  background-color: #f2574a;
  color: white;
  cursor: pointer;
}
.list_container .list_item .button_container .edit_button {
  border-bottom-left-radius: 10px;
}
.list_container .list_item .button_container .delete_button {
  border-bottom-right-radius: 10px;
}
#create_location .modal-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: auto;
  width: auto;
  background-color: white;
  flex-direction: row;
  border-radius: 10px;
  max-height: 80vh;
  max-width: 80vw;
}
#create_location .modal-wrapper .top h1 {
  font-size: 20px;
  color: #f2574a;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  text-transform: uppercase;
}
#create_location .modal-wrapper .top h3 {
  font-size: 15px;
  color: #120B8F;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0px 0;
  margin-bottom: 20px;
}
#create_location .modal-wrapper .fields-container {
  width: 100%;
  height: auto;
  display: table-row;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 60px;
  align-items: center;
  margin: 0;
  padding: 0;
  font-weight: bold;
}
#create_location .modal-wrapper .fields-container .infos-location,
#create_location .modal-wrapper .fields-container .emergency_plan,
#create_location .modal-wrapper .fields-container .adress_container {
  margin: 0%;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: large;
  color: #120B8F;
  font-weight: bold;
}
#create_location .modal-wrapper .fields-container .infos-location:not(:last-child),
#create_location .modal-wrapper .fields-container .emergency_plan:not(:last-child),
#create_location .modal-wrapper .fields-container .adress_container:not(:last-child) {
  margin-right: 20px;
}
#create_location .modal-wrapper .fields-container .infos-location h3,
#create_location .modal-wrapper .fields-container .emergency_plan h3,
#create_location .modal-wrapper .fields-container .adress_container h3 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}
#create_location .modal-wrapper .fields-container .infos-location h3 label,
#create_location .modal-wrapper .fields-container .emergency_plan h3 label,
#create_location .modal-wrapper .fields-container .adress_container h3 label {
  font-size: 15px;
  color: #120B8F;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0px 0;
}
#create_location .modal-wrapper .fields-container .infos-location h3 input,
#create_location .modal-wrapper .fields-container .emergency_plan h3 input,
#create_location .modal-wrapper .fields-container .adress_container h3 input {
  width: 200px;
  height: 30px;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #120B8F;
  padding: 0 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  outline: none;
  transition: all 0.2s;
}
#create_location .modal-wrapper .fields-container .infos-location h3 input:focus,
#create_location .modal-wrapper .fields-container .emergency_plan h3 input:focus,
#create_location .modal-wrapper .fields-container .adress_container h3 input:focus {
  border-radius: 15px;
  border: 1px solid #f2574a;
}
#create_location .modal-wrapper .fields-container .infos-location select#country,
#create_location .modal-wrapper .fields-container .emergency_plan select#country,
#create_location .modal-wrapper .fields-container .adress_container select#country {
  width: 200px;
  height: 30px;
  border-radius: 0;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
  background-color: #fff;
}
#create_location .modal-wrapper .fields-container .infos-location select#country option,
#create_location .modal-wrapper .fields-container .emergency_plan select#country option,
#create_location .modal-wrapper .fields-container .adress_container select#country option {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}
#create_location .modal-wrapper .button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  transition: all 0.2s;
  margin-bottom: 20px;
  margin-top: 20px;
}
#create_location .modal-wrapper .button_container button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: #f2574a;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  transition: all 0.2s;
  border-radius: 25px;
  border: 1px solid #f2574a;
}
#create_location .modal-wrapper .button_container button:hover {
  background-color: #f2574a;
  color: white;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}
#create_location .modal-wrapper .button_container .create_button {
  margin-right: 10px;
  background-color: #f2574a;
  color: white;
}
#create_location .modal-wrapper .button_container .create_button:hover {
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}
#confirm_delete .modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: auto;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
#confirm_delete .modal-wrapper .top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}
#confirm_delete .modal-wrapper .top h1 {
  color: #f2574a;
  font-size: 20px;
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-transform: uppercase;
}
#confirm_delete .modal-wrapper .top h3 {
  color: #120B8F;
  font-size: 15px;
  margin: 0%;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
#confirm_delete .modal-wrapper .fields-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
}
#confirm_delete .modal-wrapper .fields-container input {
  width: 200px;
  height: 30px;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #120B8F;
  padding: 0 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  outline: none;
  transition: all 0.2s;
}
#confirm_delete .modal-wrapper .fields-container input:focus {
  border: 1px solid #f2574a;
  border-radius: 10px;
}
#confirm_delete .modal-wrapper .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
#confirm_delete .modal-wrapper .bottom #validateButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 10px;
  width: 200px;
  background-color: #f2574a;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s;
  border-radius: 20px;
  border: none;
}
#confirm_delete .modal-wrapper .bottom #validateButton:hover {
  cursor: pointer;
  background-color: #ef2b1a;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.08);
}
#confirm_delete .modal-wrapper .bottom #validateButton i {
  font-size: 20px;
}
#confirm_delete .modal-wrapper .bottom #validateButton .loading_gif {
  width: 20px;
  height: 20px;
}
#confirm_delete .modal-wrapper .bottom #cancelButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 10px;
  width: 200px;
  background-color: white;
  color: #f2574a;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s;
  border-radius: 20px;
  border: none;
  border: 1px solid #f2574a;
  margin-left: 20px;
}
#confirm_delete .modal-wrapper .bottom #cancelButton:hover {
  cursor: pointer;
  background-color: #e6e6e6;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.08);
}
#confirm_delete .modal-wrapper .bottom #cancelButton i {
  font-size: 20px;
}
#confirm_delete .modal-wrapper .bottom #cancelButton .loading_gif {
  width: 20px;
  height: 20px;
}
