@import "global.less";


.title_container {
    display: flex;
    align-items: center;
    background-color: @grey;
    flex-direction: row;
    padding: 20px;
    justify-content: space-evenly;



    h1 {
        color: @dark_blue;
        font-size: 30px;
        margin-bottom: 20px;
        font-family: @body_font;
        text-align: center;
        text-transform: uppercase;

    }
}

.instructions_container {
    h2 {
        color: @dark_blue;
        font-size: 18px;
        margin-bottom: 20px;
        font-family: @body_font;
        text-align: left;
        padding-left: 50px;

        .orange {
            color: @orange;
        }
    }
}

#calendar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 100px);
    // margin-left: calc(10% - 20px);
    // background-color: green;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: @body_font;
    display: flex;
    justify-content: center;

    .fc-timegrid-col-events {
        margin: 0;
    }

    .fc-timegrid-event {
        background-color: @orange;
        border: none;
        border-radius: 10px;
        padding: 10px;
        font-family: @body_font;
        font-size: 13px;
        // width: 100%;
        transition: 0.2s;
    }

    .fc-timegrid-event .reserved {
        background-color: @dark_blue;
        cursor: pointer;
    }

    .fc-timegrid-event:hover {
        background-color: @dark_orange;
        cursor: pointer;

    }

    .fc-event-title {
        color: white;
        font-family: @body_font;
        font-size: 13px;
        font-weight: bold;
    }

    .fc-non-business {
        background-color: @grey;

        &::before {
            content: "Fermé";
            color: white;
            font-family: @body_font;
            font-size: 13px;
            text-transform: uppercase;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin: auto auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

        }
    }

    .fc-timegrid-event-harness {
        // width: 100%;
    }

    .fc-timegrid-slot:empty {
        background-color: white;
    }

    .fc-timegrid-now-indicator-line {
        background-color: @dark_blue;
        border-color: @dark_blue;
    }

    .fc-timegrid-now-indicator-arrow {
        border-color: @dark_blue;
        border-width: 5px 0 5px 6px;
        border-top-color: transparent;
        border-bottom-color: transparent;
    }

    .fc-button {
        background-color: transparent;
        border-color: @dark_blue;
        color: @dark_blue;
        font-family: @body_font;
        font-size: 13px;
        border-radius: 10px;
        padding: 10px;
        margin: 0 5px;
    }

    .fc-button:hover {
        background-color: @dark_blue;
        border-color: @dark_blue;
        color: white;
        font-family: @body_font;
        font-size: 13px;
        border-radius: 10px;
        padding: 10px;
        margin: 0 5px;
    }

    .fc-button-active {
        background-color: @dark_blue;
        border-color: @dark_blue;
        color: white;
        font-weight: bold;
        font-family: @body_font;
        font-size: 13px;
        border-radius: 10px;
        padding: 10px;
        margin: 0 5px;
    }

    .fc-toolbar-title {
        color: @dark_blue;
        font-family: @body_font;
        font-size: 18px;
        text-transform: uppercase;
    }

    .fc-col-header-cell-cushion {
        color: @dark_blue;
        font-family: @body_font;
        font-size: 13px;
        text-transform: uppercase;
    }

    .fc-timegrid-slot-label-cushion {
        color: @dark_blue;
        font-family: @body_font;
        font-size: 13px;
    }
    i{
        margin:auto auto;
        color : white;
        font-size: fit-content;
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:center; 
        height:100%;
        width:100%;   
        transition: 0.2s ;
        opacity: 0;    
    }
}

#createEventButton {
    position: fixed;
    bottom: 110px;
    right: 20px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: @orange;
    z-index: 9999;
    padding: 0;
    outline: none;
    cursor: pointer;
    border: none;

    i {
        color: white;
        font-size: 30px;
        border: white 2px solid;
        width: 0px;
        height: 0px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto auto;
        background-color: white;
        transition: 0.2s;
    }

    &:hover {
        i {
            color: @orange;
            background-color: white;
            width: 60px;
            height: 60px;
            transition: 0.2s;
            transform: rotate(90deg);
        }
    }
}

#eventModal {
    .modal-wrapper {
        height: auto;
        width: auto;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        font-family: @body_font;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        min-width: 60%;


        .global {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            height: 80%;
            padding: 20px 0;

            .left {
                width: 20%;

                #timeline_view {
                    width: 2px;
                    // height:100%;
                    background-color: @grey;
                    margin-left: 20%;
                    padding: 20px 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .start_container {
                        display: flex;
                        flex-direction: row;
                        justify-content: left;
                        align-items: center;
                        height: auto;
                        width: fit-content;
                        margin-left: calc(20% - 10px);

                        #eventStart {

                            font-size: 15px;
                            color: @dark_blue;
                            margin: 0;
                            padding: 0;
                            margin-left: 30px;
                        }

                    }

                    .end_container {
                        display: flex;
                        flex-direction: row;
                        justify-content: left;
                        align-items: center;
                        height: auto;
                        width: fit-content;
                        margin-left: calc(20% - 10px);


                        #eventEnd {
                            font-size: 15px;
                            color: @dark_blue;
                            margin: 0;
                            padding: 0;
                            margin-left: 30px;
                        }

                    }
                }



            }


        }

        #eventTitle {
            font-weight: bold;
            color: @orange;
            display: flex;
            align-items: center;
            background-color: @grey;
            flex-direction: row;
            justify-content: space-evenly;
            font-size: 40px;
            font-family: @body_font;
            text-transform: uppercase;
            width: 100%;
            margin: 0;
            height: 20%;
            padding: 10px 0px;
        }

        #eventStart {
            font-size: 15px;
            color: @dark_blue;
        }

        #eventEnd {
            font-size: 15px;
            color: @dark_blue;
        }


        .orange_circle {
            width: 20px;
            height: 20px;
            background-color: @orange;
            border-radius: 50%;
            left: 0;
            display: flex;
            align-items: center;
        }

        .listOfUser {
            width: 35%;
            height: 100%;
            margin-left: 50px;
            margin-right: 10px;
            border-left: 2px solid @orange;

            h5 {
                margin: 0;
                color: @grey;
                font-size: 11px;
                font-family: @body_font;
                text-align: center;
            }

            h3 {
                margin: 0;
                color: @dark_blue;
                font-size: 15px;
                font-family: @body_font;
                text-align: center;
                text-transform: uppercase;
            }

            .DP {
                color: @orange;
                font-weight: bold;
            }

            .DP::before {
                content: "DP :";
                margin-right: 5px;

            }

            ul li {
                list-style: circle;
                margin: 0;
                padding: 0;
                display: flex;
                align-items: left;
                justify-content: left;
                height: auto;
                font-size: 15px;
                font-family: @body_font;
                text-transform: normal;
                color: @dark_blue;


            }

        }

        .right {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: flex-start;
            width: 50%;
            margin-left: 50px;

            p {
                margin: 0;
                padding: 0;
            }

            #eventLocation {
                font-weight: bold;
                display: block;
                border-left: 2px solid @orange;
                padding-left: 20px;
                font-size: 15px;
                color: @dark_blue;
                font-family: @body_font;
                text-transform: uppercase;


            }

            #eventDuration {
                color: @grey;
                font-size: 15px;
                font-family: @body_font;

                i {
                    margin-right: 5px;
                }

                margin-top: 10px;
            }

            #eventPrice {
                display: block;
            }

            #eventLevel {
                p {
                    margin: 0;
                    padding: 0;
                    color: @grey;
                    font-size: 15px;
                    font-family: @body_font;

                    i {
                        margin-right: 5px;
                    }
                }

                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: left;
                width: 100%;
                height: auto;
                margin-top: 10px;

                .level {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: left;
                    width: 100%;

                    p {
                        margin: 0;
                        margin-right: 5px;
                        color: white;
                        font-size: 15px;
                        font-family: @body_font;
                        background-color: transparent;
                        border: 1px solid @dark_blue;
                        border-radius: 5px;
                        padding: 15px;
                    }

                    .not-active {
                        background-color: transparent;
                        color: @dark_blue;
                    }

                    .active {
                        background-color: @dark_blue;
                        color: white;
                        font-weight: bold;
                    }

                }
            }

            #eventPriceDiver,
            #eventPriceInstructor {
                margin: 0;
                padding: 0;
                color: @orange;
                font-size: 18px;
                text-transform: uppercase;
                font-weight: bold;
                font-family: @body_font;

                i {
                    margin-right: 5px;
                }
            }

            #eventPriceDiver {
                margin-top: 20px;
            }

            #eventPriceInstructor {
                margin-bottom: 20px;
                font-size: 13px;
                color: @dark_blue;
                font-weight: normal;
            }

        }

        #comment,
        #needs {
            font-size: 15px;
            color: @grey;
            font-family: @body_font;
        }

        .displayRating_container{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            height: auto;
            margin-top: 20px;
            margin-bottom: 20px;
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: auto;
                height: auto;
                margin: 0;
                margin-right: 20px;
                
                p{
                    margin: 0;
                    padding: 0;
                    color: @grey;
                    font-size: 15px;
                    font-family: @body_font;
                    text-align: center;
                }
                span{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-evenly;
                    width: auto;
                    height: auto;
                    margin: 0;
                    padding: 0;
                    i{
                        margin: 0 0px;
                        color: @orange;
                        font-size: 15px;
                        margin-right: 5px;
                    }
                    label{
                        margin: 0;
                        padding: 0;
                        color: @grey;
                        font-size: 15px;
                        font-family: @body_font;
                    }
                }
            }
        }


        .reserveButton {
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #4caf50;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            font-weight: bold;
            transition: 0.2s;
            text-transform: uppercase;
            display: flex
        }

        .reserveButton:hover {
            background-color: #368039;
        }

        .unreserveButton {
            margin-top: 20px;
            padding: 10px 20px;
            background-color: @orange;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            font-weight: bold;
            transition: 0.2s;
            text-transform: uppercase;
        }

        .unreserveButton:hover {
            background-color: @dark_orange;
        }
    }
}

#rating {
    .modal-wrapper{
        width: auto;
        height: auto;
        background-color: white;
        border-radius: 10px;
        font-family: @body_font;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .validate_rating{
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 10px 20px;
            background-color: @orange;
            color: #fff;
            border: none;
            border-radius: 25px;
            font-size: 16px;
            cursor: pointer;
            font-weight: bold;
            transition: 0.2s;
            text-transform: uppercase;
            display: flex;
            h3{
                margin: 0;
                padding: 0px 0;
            }
            &:hover {
                background-color: @dark_orange;
            }
        }
        h1 {
            color: @orange;
            font-size: 20px;
            margin-bottom: 40px;
            font-family: @body_font;
            text-align: center;
            text-transform: uppercase;
        }
        .rating_container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .rating_item{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin-bottom: 40px;
                h3{
                    width: 50%;
                    color: @dark_blue;
                    font-size: 15px;
                    margin-bottom: 20px;
                    font-family: @body_font;
                    text-align: left;
                    text-transform: uppercase;
                    margin:0;
                    margin-right: 10px;
                }
                .rating_stars{
                    width: 50%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    i{
                        color: @orange;
                        font-size: 30px;
                        margin: 0 5px;
                        cursor: pointer;
                    }
                    i:hover{
                        color: @dark_orange;
                    }
                }
            }

        }

    }
}

#createEventModal,
#modifyEventModal {
    .modal-wrapper {
        width: 100%;
        height: auto;
        background-color: white;
        border-radius: 10px;
        font-family: @body_font;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            color: @orange;
            font-size: 20px;
            margin-bottom: 20px;
            font-family: @body_font;
            text-align: center;
            text-transform: uppercase;
        }

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }

        .container_create_event {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: flex-start;
            width: 100%;

        }

        .left {
            width: 45%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;

            div {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                justify-content: space-between;

                h3 {
                    color: @dark_blue;
                    font-size: 15px;
                    margin-bottom: 20px;
                    font-family: @body_font;
                    text-align: left;
                    text-transform: uppercase;
                    margin-right: 20px;
                    width: 45%;
                }

                input {
                    width: 45%;
                    height: 30px;
                    border-radius: 5px;
                    border: 1px solid @dark_blue;
                    font-family: @body_font;
                    font-size: 15px;
                    text-align: center;
                    text-transform: uppercase;
                    margin-right: 0;
                    padding: 0;
                }


                .search_location {
                    flex-direction: column;
                    width: 45%;

                    input {
                        width: 100%;
                    }

                    .location_list_dropdown {
                        position: absolute;
                        display: none;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: calc(22% - 32px);
                        height: auto;
                        background-color: white;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                        z-index: 9999;
                        margin-top: 35px;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
                        border: 1px solid @dark_blue;
                        max-height: 200px;
                        overflow-y: scroll;
                        overflow-x: hidden;

                        h4 {
                            color: @dark_blue;
                            font-size: 15px;
                            font-family: @body_font;
                            text-align: center;
                            text-transform: uppercase;
                            width: calc(100% - 22px);
                            padding: 10px;
                            margin: 0;

                            &:hover {
                                cursor: pointer;
                                background-color: lighten(@grey, 10%);
                                color: @orange;
                            }
                        }
                    }
                }

                textarea {
                    width: calc(45% - 20px);
                    height: 100px;
                    border-radius: 5px;
                    border: 1px solid @dark_blue;
                    font-family: @body_font;
                    font-size: 15px;
                    text-align: left;
                    text-transform: none;
                    margin-right: 0;
                    padding: 10px;
                    resize: none;
                }

            }
        }

        .right {
            width: 45%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;

            div {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                justify-content: space-between;

                h3 {
                    color: @dark_blue;
                    font-size: 15px;
                    margin-bottom: 20px;
                    font-family: @body_font;
                    text-align: left;
                    text-transform: uppercase;
                    margin-right: 20px;
                    width: 45%;
                }

                select {
                    width: calc(45% + 2px);
                    height: 30px;
                    border-radius: 5px;
                    border: 1px solid @dark_blue;
                    font-family: @body_font;
                    font-size: 15px;
                    text-align: center;
                    text-transform: uppercase;
                    margin-right: 0;
                    padding: 0;
                }

                input {
                    width: 45%;
                    height: 30px;
                    border-radius: 5px;
                    border: 1px solid @dark_blue;
                    font-family: @body_font;
                    font-size: 15px;
                    text-align: center;
                    text-transform: uppercase;
                    margin-right: 0;
                    padding: 0;
                }

                .apple-switch {
                    position: relative;
                    appearance: none;
                    outline: none;
                    width: 50px;
                    height: 30px;
                    background-color: #ffffff;
                    border: 1px solid #D9DADC;
                    border-radius: 50px;
                    box-shadow: inset -20px 0 0 0 #ffffff;
                    transition-duration: 200ms;
                }

                .apple-switch:after {
                    content: "";
                    position: absolute;
                    top: 1px;
                    left: 1px;
                    width: 26px;
                    height: 26px;
                    background-color: transparent;
                    border-radius: 50%;
                    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
                }

                .apple-switch:checked {
                    border-color: @orange;
                    box-shadow: inset 20px 0 0 0 @orange;
                }

                .apple-switch:checked:after {
                    left: 20px;
                    box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
                }

                .search_location_diver,
                .search_location_DP {
                    flex-direction: column;
                    width: 45%;

                    input {
                        width: 100%;
                    }

                    .DP_list_dropdown,
                    .diver_list_dropdown {
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: calc(22% - 32px);
                        height: auto;
                        background-color: white;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                        z-index: 9999;
                        margin-top: 35px;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
                        border: 1px solid @dark_blue;
                        max-height: 200px;
                        overflow-y: scroll;
                        overflow-x: hidden;

                        h4 {
                            color: @dark_blue;
                            font-size: 15px;
                            font-family: @body_font;
                            text-align: center;
                            text-transform: uppercase;
                            width: calc(100% - 22px);
                            padding: 10px;
                            margin: 0;

                            &:hover {
                                cursor: pointer;
                                background-color: lighten(@grey, 10%);
                                color: @orange;
                            }
                        }

                        .diver_item {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;

                            .checkbox_item {
                                width: auto;
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
    }

    .comment,
    .needs {
        width: 60%;
        font-family: @body_font;
        font-size: 15px;
        text-align: left;
        text-transform: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        h3 {
            color: @dark_blue;
            font-size: 15px;
            margin-bottom: 10px;
            font-family: @body_font;
            text-align: left;
            text-transform: uppercase;
            margin-right: 20px;
            width: auto;
        }

        input {
            width: 100%;
            height: 30px;
            border-radius: 5px;
            border: 1px solid @dark_blue;
            font-family: @body_font;
            font-size: 15px;
            text-align: center;
            text-transform: uppercase;
            margin-right: 0;
            padding: 0 10px;
        }

        textarea {
            width: 100%;
            height: 100px;
            border-radius: 5px;
            border: 1px solid @dark_blue;
            font-family: @body_font;
            font-size: 15px;
            text-align: left;
            text-transform: none;
            margin-right: 0;
            padding: 10px;
            resize: none;
        }
    }

    .create_event_button {
        margin-top: 40px;
        padding: 10px 20px;
        background-color: @orange;
        color: #fff;
        border: none;
        border-radius: 25px;
        font-size: 16px;
        cursor: pointer;
        font-weight: bold;
        transition: 0.2s;
        text-transform: uppercase;
        margin-bottom: 20px;

        &:hover {
            background-color: @dark_orange;
        }

    }
}


.legend_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 20px;

    .legend {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: auto;
        height: auto;
        margin-right: 20px;

        .legend_item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: auto;
            height: auto;
            margin-right: 10px;
            border-radius: 13px;
            padding-right: 10px;
            // border-top-left-radius: 11px;
            // border-bottom-left-radius: 11px;
            ;
            border: 2px solid;
        }

        p {
            margin: 0;
            padding: 0;
            margin-left: 10px;
            font-size: 13px;
            font-family: @body_font;
            color: @dark_blue;
        }

        .legend_color {
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }

        .green_border {
            border-color: #4CAF50;
        }

        .orange_border {
            border-color: @orange;
        }

        .blue_border {
            border-color: @dark_blue;
        }

        .grey_border {
            border-color: grey;
        }

        .green_full {
            background-color: #4CAF50;
        }

        .orange_full {
            background-color: @orange;
        }

        .blue_full {
            background-color: @dark_blue;
        }

        .grey_full {
            background-color: grey;
        }
    }
}


.top_bar_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 100px);
    margin-left: 50px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    .filter_container {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: left;
        width: calc(70% - 100px);
        height: auto;

        .filter_duration,
        .filter_price {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: left;
            width: 100%;
            height: auto;
            margin-left: 20px;

            p {
                margin: 0;
                padding: 0;
                color: @dark_blue;
                font-size: 15px;
                font-family: @body_font;

                i {
                    margin-right: 5px;
                }
            }

            .slider {
                width: 100%;
                padding: 0;
                margin: 0;
                margin-top: 12px;
                -webkit-appearance: none;
                width: 100%;
                height: 15px;
                border-radius: 5px;
                background: #d3d3d3;
                outline: none;
                opacity: 0.7;
                -webkit-transition: .2s;
                transition: opacity .2s;
            }

            .slider::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: @orange;
                cursor: pointer;
            }

            label {
                margin: 0;
                padding: 0;
                margin-top: 10px;
                color: @dark_blue;
                font-size: 15px;
                font-family: @body_font;
            }



        }

        .filter_duration {
            margin-left: 0px;
        }


    }

    .switch_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: right;

        p {
            margin: 0;
            padding: 0;
            margin-right: 10px;
            color: @dark_blue;
            font-size: 15px;
            font-family: @body_font;
        }

    }

}


.apple-switch {
    position: relative;
    appearance: none;
    outline: none;
    width: 50px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #D9DADC;
    border-radius: 50px;
    box-shadow: inset -20px 0 0 0 #ffffff;
    transition-duration: 200ms;
}

.apple-switch:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 26px;
    height: 26px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.apple-switch:checked {
    border-color: @orange;
    box-shadow: inset 20px 0 0 0 @orange;
}

.apple-switch:checked:after {
    left: 20px;
    box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
}




.edit_rapport {
    width: auto;
    height: auto;
    ;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: right;

    i {
        color: @dark_blue;
        ;
        font-size: 30px;
        cursor: pointer;
        transition: 0.2s;
    }

}

.rating {
    width: auto;
    height: auto;
    ;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    margin-right: 80px;
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: right;

    i {
        color: @dark_blue;
        ;
        font-size: 30px;
        cursor: pointer;
        transition: 0.2s;
    }

}

.user_legend_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 20px;

    .legend {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: auto;
        height: auto;
        margin-right: 20px;


    }
}

.legend_item,
.in-table {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    margin-right: 10px;
    border-radius: 13px;
    padding-right: 10px;
    margin-bottom: 5px;
    // border-top-left-radius: 11px;
    // border-bottom-left-radius: 11px;

    border: 2px solid;




    p {
        margin: 0;
        padding: 0;
        margin-left: 10px;
        font-size: 13px;
        font-family: @body_font;
        color: @dark_blue;
    }

    .legend_color {
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }

    .green_border {
        border-color: #4CAF50;
    }

    .orange_border {
        border-color: @orange;
    }

    .blue_border {
        border-color: @dark_blue;
    }

    .grey_border {
        border-color: grey;
    }

    .green_full {
        background-color: #4CAF50;
    }

    .orange_full {
        background-color: @orange;
    }

    .blue_full {
        background-color: @dark_blue;
    }

    .grey_full {
        background-color: grey;
    }
}



.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
}



.table-container {
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 1;
    min-width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 5px;
}

.column-title {
    font-family: @body_font;
    color: @dark_blue;
    font-weight: bold;
    margin-bottom: 10px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

.column.dragover {
    background-color: #f0f0f0;
}





#dive_rapport {

    .next_button_infos {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px 20px;
        width: fit-content;
        background-color: @orange;
        color: white;
        font-family: @body_font;
        font-size: 15px;
        text-align: center;
        text-transform: uppercase;
        transition: all 0.2s;
        border-radius: 20px;
        border: none;
        overflow-x: hidden;

        &:hover {
            cursor: pointer;
            background-color: darken(@orange, 10%);
            box-shadow: 0 0px 20px rgba(0, 0, 0, 0.08);
        }

        i {
            font-size: 20px;

        }

        .loading_gif {
            width: 20px;
            height: 20px;
        }
    }

    .add_palanquee {
        background-color: white;
        color: @orange;
        border: 1px solid @orange;
        font-size: 12px;

        &:hover {
            background-color: @orange;
            color: white;
        }

    }

    .modal-wrapper {
        width: 100%;
        height: 100%;
        background-color: white;
        border-radius: 0px;

        .general_plannification_container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 50px;

            h1 {
                color: @orange;
                font-size: 20px;
                margin-bottom: 20px;
                font-family: @body_font;
                text-align: center;
                text-transform: uppercase;
            }

            .date_container,
            .time_container,
            .location_container,
            .plongueurs,
            .nombre_plongeurs {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 30%;
                align-items: center;
                margin-bottom: 20px;
                padding: 0;
                margin: 0;

                h3 {
                    color: @dark_blue;
                    font-size: 15px;
                    margin-bottom: 20px;
                    font-family: @body_font;
                    text-align: center;
                    text-transform: uppercase;
                    margin-right: 20px;
                }

                input,
                select {
                    width: 200px;
                    height: 30px;
                    border-radius: 5px;
                    border: 1px solid @dark_blue;
                    font-family: @body_font;
                    font-size: 15px;
                    text-align: center;
                    text-transform: uppercase;
                    margin-right: 0;
                    padding: 0;
                }
            }

            .map_dive {
                width: 30%;
                height: 200px;
                border-radius: 5px;
                border: 2px solid @orange;
                font-family: @body_font;
                background-color: @grey;
                font-size: 15px;
                text-align: center;
                text-transform: uppercase;
                margin-right: 0;
                padding: 0;
                margin-bottom: 20px;
            }

            .next_button_infos {
                margin-bottom: 50px;
            }
        }

        .plongeurs_container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 50px;

            h1 {
                color: @orange;
                font-size: 20px;
                margin-bottom: 20px;
                font-family: @body_font;
                text-align: center;
                text-transform: uppercase;
            }

            .plongueurs,
            .nombre_plongeurs {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                align-items: center;
                margin-bottom: 20px;
                padding: 0;
                margin: 0;

                h3 {
                    color: @dark_blue;
                    font-size: 15px;
                    margin-bottom: 20px;
                    font-family: @body_font;
                    text-align: center;
                    text-transform: uppercase;
                    margin-right: 20px;
                }

                input,
                select {
                    width: 200px;
                    height: 30px;
                    border-radius: 5px;
                    border: 1px solid @dark_blue;
                    font-family: @body_font;
                    font-size: 15px;
                    text-align: center;
                    text-transform: uppercase;
                    margin-right: 0;
                    padding: 0;
                }

                .next_button_infos {
                    margin-bottom: 50px;
                }
            }
        }

        .diver {
            // Make it as a card
            width: fit-content;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            padding: 20px;
            margin-bottom: 20px;

            h1 {
                color: @orange;
                font-size: 20px;
                margin: 0;
                font-family: @body_font;
                text-align: center;
                text-transform: uppercase;
            }

            select {
                color: @dark_blue;
                font-size: 15px;
                margin: 0;
                margin-bottom: 10px;
                font-family: @body_font;
                text-align: center;
                text-transform: uppercase;
            }

            .diver-parameters {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: auto;
                align-items: center;
                margin-bottom: 20px;
                padding: 0;
                margin: 0;

                select {
                    width: 30%;
                    height: 30px;
                    border-radius: 5px;
                    border: 1px solid @dark_blue;
                    font-family: @body_font;
                    font-size: 15px;
                    text-align: center;
                    text-transform: uppercase;
                    margin-right: 0;
                    padding: 0;
                    padding: 0 10px
                }
            }
        }

        .parametres-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            margin-bottom: 50px;

            h1 {
                color: @orange;
                font-size: 20px;
                margin-bottom: 20px;
                font-family: @body_font;
                text-align: center;
                text-transform: uppercase;
            }

            .metres-prevus,
            .metres-realises,
            .temps-prevu,
            .temps-realise {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 30%;
                align-items: center;
                margin-bottom: 20px;
                padding: 0;
                margin: 0;

                h3 {
                    color: @dark_blue;
                    font-size: 15px;
                    margin-bottom: 20px;
                    font-family: @body_font;
                    text-align: center;
                    text-transform: uppercase;
                    margin-right: 20px;
                }

                input,
                select {
                    width: 200px;
                    height: 30px;
                    border-radius: 5px;
                    border: 1px solid @dark_blue;
                    font-family: @body_font;
                    font-size: 15px;
                    text-align: center;
                    text-transform: uppercase;
                    margin-right: 0;
                    padding: 0;
                }

                .next_button_infos {
                    margin-bottom: 50px;
                }
            }
        }

        .info-palanquee {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 50px;

            h1 {
                color: @orange;
                font-size: 20px;
                margin-bottom: 20px;
                font-family: @body_font;
                text-align: center;
                text-transform: uppercase;
            }

            .plongeur-fonction,
            .niveau-plongeur,
            .tech-explo,
            .nitrox {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 30%;
                align-items: center;
                margin-bottom: 20px;
                padding: 0;
                margin: 0;

                h3 {
                    color: @dark_blue;
                    font-size: 15px;
                    margin-bottom: 20px;
                    font-family: @body_font;
                    text-align: center;
                    text-transform: uppercase;
                    margin-right: 20px;
                }

                input {
                    width: 200px;
                    height: 30px;
                    border-radius: 5px;
                    border: 1px solid @dark_blue;
                    font-family: @body_font;
                    font-size: 15px;
                    text-align: center;
                    text-transform: uppercase;
                    margin-right: 0;
                    padding: 0;
                    padding: 0 10px
                }

                .next_button_infos {
                    margin-bottom: 50px;
                }
            }
        }
    }

}