@import "global";

.profil_container {
    display: flex;
    align-items: center;
    background-color: @grey;
    flex-direction: row;
    padding: 20px;
    justify-content: space-evenly;
    width: calc(80% + 40px);
    padding: 10px calc(10% - 20px);

    .left {
        background-color: #FFFFFF;
        align-items: center;
        display: flex;
        flex-direction: row;
        padding: 20px 50px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 0;

        div:first-child {
            margin-right: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }

        h1 {
            color: @dark_blue;
            font-size: 20px;
            margin-bottom: 20px;
            font-family: @body_font;

        }


        .separator {
            width: 30%;
            height: 2px;
            background-color: @dark_blue;
            margin-bottom: 20px;
        }

        .photo_container {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-color: @dark_blue;
            margin-bottom: 20px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .profil_infos {
            display: flex;
            flex-direction: column;
            // align-items: center;
            justify-content: flex-start;
            color: black;
            font-size: 15px;
            font-family: @body_font;
            line-height: 0;
            margin-left: 50px;

            .level_text,
            .total {
                font-size: 12px;
                color: @dark_blue;
                font-family: @body_font;
                margin-bottom: 10px;
                text-align: center;
            }

            .level {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding: 5px;

                p {
                    margin: 0;
                    color: white;
                    font-size: 15px;
                    font-family: @body_font;
                    background-color: transparent;
                    border: 1px solid @dark_blue;
                    border-radius: 5px;
                    padding: 15px;
                }

                .not-active {
                    background-color: transparent;
                    color: @dark_blue;
                }

                .active {
                    background-color: @dark_blue;
                    color: white;
                    font-weight: bold;
                }

            }
        }

    }

    .right {
        right: 0;
        margin-right: 0;
        display: flex;
        flex-direction: column;

        h1 {
            color: @dark_blue;
            font-size: 40px;
            margin-bottom: 20px;
            font-family: @body_font;
            text-transform: uppercase;
            text-align: right;

        }

        .name {
            color: @orange;
        }
    }
}


.planning {
    width: calc(80% + 40px);
    padding: 10px calc(10% - 20px);
    // background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;

    .event_list {
        width: 47%;
        // background-color: blue;
        overflow-y: auto;
        padding: 0 30px;
        padding-bottom: 30px;
        height: 0px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        font-family: @body_font;

        h1 {
            color: @dark_blue;
            font-size: 20px;
            // margin-bottom: 20px;
            font-family: @body_font;
            text-transform: uppercase;
            position: sticky;
            top: 0;
            background-color: white;
            width: calc(100% - 60px);
            height: 0px 30px;
            padding: 30px;
            margin: 0;
        }

        .event {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 30px;
            border-bottom: 1px solid @grey;

            .name,
            .date,
            .hour {
                color: @dark_blue;
                font-size: 13px;
                font-family: @body_font;
            }
        }
    }
}


#calendar {
    width: 47%;
    // margin-left: calc(10% - 20px);
    // background-color: green;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: @body_font;

    .fc-timegrid-col-events {
        margin: 0;
    }

    .fc-timegrid-event {
        background-color: @orange;
        border: none;
        border-radius: 10px;
        padding: 10px;
        font-family: @body_font;
        font-size: 13px;
        width: 100%;
    }

    .fc-event-title {
        color: white;
        font-family: @body_font;
        font-size: 13px;
        font-weight: bold;
    }

    .fc-non-business {
        background-color: @grey;

        &::before {
            content: "Fermé";
            color: white;
            font-family: @body_font;
            font-size: 13px;
            text-transform: uppercase;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin: auto auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

        }
    }

    .fc-timegrid-event-harness {
        width: 100%;
    }

    .fc-timegrid-slot:empty {
        background-color: white;
    }

    .fc-timegrid-now-indicator-line {
        background-color: @dark_blue;
        border-color: @dark_blue;
    }

    .fc-timegrid-now-indicator-arrow {
        border-color: @dark_blue;
        border-width: 5px 0 5px 6px;
        border-top-color: transparent;
        border-bottom-color: transparent;
    }

    .fc-button {
        background-color: transparent;
        border-color: @dark_blue;
        color: @dark_blue;
        font-family: @body_font;
        font-size: 13px;
        border-radius: 10px;
        padding: 10px;
        margin: 0 5px;
    }

    .fc-button:hover {
        background-color: @dark_blue;
        border-color: @dark_blue;
        color: white;
        font-family: @body_font;
        font-size: 13px;
        border-radius: 10px;
        padding: 10px;
        margin: 0 5px;
    }

    .fc-button-active {
        background-color: @dark_blue;
        border-color: @dark_blue;
        color: white;
        font-weight: bold;
        font-family: @body_font;
        font-size: 13px;
        border-radius: 10px;
        padding: 10px;
        margin: 0 5px;
    }

    .fc-toolbar-title {
        color: @dark_blue;
        font-family: @body_font;
        font-size: 18px;
        text-transform: uppercase;
    }

    .fc-col-header-cell-cushion {
        color: @dark_blue;
        font-family: @body_font;
        font-size: 13px;
        text-transform: uppercase;
    }

    .fc-timegrid-slot-label-cushion {
        color: @dark_blue;
        font-family: @body_font;
        font-size: 13px;
    }
}

.message {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: @orange 2px solid;
    border-radius: 10px;
    padding: 0 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;

    h1 {
        color: @orange;
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: 20px;
        font-family: @body_font;
        text-align: center;
    }

    .separator {
        width: 20%;
        height: 2px;
        background-color: @orange;
        margin-bottom: 20px;
    }

    p {
        color: @dark_blue;
        font-size: 15px;
        margin-bottom: 20px;
        font-family: @body_font;
        text-align: center;
    }
}

.message_add {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: @orange 2px solid;
    background-color: @orange;
    border-radius: 10px;
    padding: 0 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: 0.2s;
    color: white;

    h1 {
        text-transform: uppercase;
        font-size: 15px;
        font-family: @body_font;
        text-align: center;
    }

    &:hover {
        background-color: white;
        color: @orange;
        cursor: pointer;
    }
}

#importantMessageModal {
    .modal-wrapper {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        z-index: 9999;
        flex-direction: column;
        box-shadow: none;
        width: auto;
        height: auto;
        overflow-y: visible;
        padding: 50px;

        .top {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .title {
                color: @dark_blue;
                font-size: 20px;
                text-transform: uppercase;
                font-family: @body_font;
                margin-top: 20px;
                text-align: center;
                align-items: center;
                align-self: center;
            }

        }

        #txt_descr {
            margin-top: 10px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            textarea {
                width: 100%;
                height: 100px;
                border: solid 2px @dark_blue;
                outline: none;
                font-family: @body_font;
                font-size: 15px;
                padding: 10px;
                resize: none;
                border-radius: 10px;
            }
        }

        .buttons_container {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 20px;

            .cancel_message {
                width: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
                color: @orange;
                border: @orange 2px solid;
                padding: 10px 20px;
                border-radius: 10px;
                font-size: 15px;
                font-family: @body_font;
                text-transform: uppercase;
                cursor: pointer;
                transition: 0.2s;
                font-weight: bold;

                &:hover {
                    background-color: @orange;
                    color: white;
                }
            }

            .validate_message {
                width: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
                color: @orange;
                border: @orange 2px solid;
                padding: 10px 20px;
                border-radius: 10px;
                font-size: 15px;
                font-family: @body_font;
                text-transform: uppercase;
                cursor: pointer;
                transition: 0.2s;
                font-weight: bold;

                &:hover {
                    background-color: @orange;
                    color: white;
                }
            }
        }


    }
}

.date_message{
    color: @dark_blue;
    font-size: 13px;
    font-family: @body_font;
    margin-bottom: 20px;
    text-align: center;
}



//! Responsive

@media screen and (max-width:900px) {
    .profil_container {
        flex-direction: column-reverse;
        .left {
            width: calc(80%);;
        }
    }
    .event_list{
        display:none;
    }
    #calendar{
        width: 100%;
    }
    .profil_container .right h1{
        font-size: 30px;
    }
    #calendar .fc-button.fc-today-button {
        margin-top: 10px;
    }
}

@media screen and (max-width:700px) {
    .profil_container {
        flex-direction: column-reverse;
        .left {
            display:none;
        }
    }
}